include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml

recursive-include src/mimosa *.py
recursive-include examples *

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *~
global-exclude .DS_Store
